<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PexelsApp | Get HD pictures of beautiful moments made in Africa</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
<body>
      <nav id="navbar">
            <div class="logo">
                  <h1> AfriPexxels! </h1>
            </div>
            <div class="product">
                  <li><a href="#showcase">Home</a></li>

                  <li><a href="#gallery">Gallery</a></li>

                  <li><a href="#footer">Contact </a></li>
            </div>
      </nav>
<header id="showcase">
    <div class="showcase-content">
        <h1>Welcome to AfriPexxels!</h1>
<em>Sharing African Moments With the world!</em>
    </div>
</header>
<section id="gallery">
    <h3>Gallery</h3>
    <div class="gallery-container">
        <div class="card">
            <img src="../img/background3.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/background3.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/background2.jpeg" alt="">
        </div>

         <div class="card">
            <img src="../img/background2.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/background4.jpeg" alt="">
        </div>

         <div class="card">
            <img src="../img/background4.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/dine1.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/dine1.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/dine3.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/dine3.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/background3.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/background3.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/background2.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/background2.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/background4.jpeg" alt="">
        </div>

         <div class="card">
            <img src="../img/background4.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/dine1.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/dine1.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/dine2.jpeg" alt="">
        </div>

        <div class="card">
            <img src="../img/dine2.jpeg" alt="">
        </div>


        <div class="card">
            <img src="../img/dine3.jpeg" alt="">
        </div>
    </div>
</section>

<footer id="footer">
    <p>  All Rights Reserved. AfriPexxels Inc. &copy;2020</p>
    <div>
        <p>Email: <a href="#">OlugbengaGT@gmail.com</a> </p>
        <p>  &nbsp; &nbsp;       Tel: 0811 128 0118</p>
    </div>

</footer>

</body>
</html>